body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.inicio{
    padding: 0px 4%;
    align-items: center;
    justify-content: center;
}

form{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form label{
    color: white;
}

form input::placeholder{
    color: white;
}

form input{
    background-color: rgb(78, 0, 114);
    border-radius: 5px;
    width: 400px;
    height: 35px;
    color: white;
    border-style: none;
}

form textarea{
    background-color: rgb(78, 0, 114);
    border-radius: 5px;
    max-width: 400px;
    height: 150px;
    resize: none;
    color: white;
    border-style: none;
}

form textarea::placeholder{
    color: white;
}

form .btn input{
    width: 200px;
    background-color:rgb(78, 0, 114);
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
    margin-bottom: 40px;
}

form .btn input:hover{
    transform: scale(1.01);
}

.estr_grid{
    max-width: 500px;
    margin-left: 180px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(78, 0, 114);
}

.estr_grid table{
    border-bottom: 1px solid #ddd;
    color: rgb(255, 0, 0);
    width: 500px;
    text-align: center;
}

.estr_grid table td{
    color: white;
}

